<!DOCTYPE html>
<html class="no-js" lang="en">

<head>
  <meta charset="utf-8" />
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Book Buddies</title>
  <link rel="shortcut icon" type="image/png" href="assets/img/crown.png">
  <link href='https://fonts.googleapis.com/css?family=Quicksand' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="http://dhbhdrzi4tiry.cloudfront.net/cdn/sites/foundation.min.css">
  <link rel="stylesheet" type="text/css" href="assets/foundation-icons/foundation-icons.css">
  <link rel="stylesheet" href="assets/css/foundation.css">
  <link rel="stylesheet" href="assets/css/style.css">
</head>

<body>

  {{{body}}}

  <script src="assets/js/vendor/jquery.js"></script>
  <script src="assets/js/vendor/foundation.min.js"></script>
  <script>
    $(document).foundation()
  </script>
  <script>
    /* ----- CARD PROFILE STATS ------- */

// more click
$('.card-profile-stats-more-link').click(function(e){
  e.preventDefault();
  if ( $(".card-profile-stats-more-content").is(':hidden') ) {
    $('.card-profile-stats-more-link').find('i').removeClass('fa-angle-down').addClass('fa-angle-up');
  } else {
    $('.card-profile-stats-more-link').find('i').removeClass('fa-angle-up').addClass('fa-angle-down');
  }
  $(this).next('.card-profile-stats-more-content').slideToggle();
});
/* ----- CARD PROFILE STATS ------- */
  </script>
</body>

</html>