{{!-- I had the idea for this to hold text for an alert that could be triggered, but I don't think it will fly --}}
<div id="msg-alert" data-alert class="alert-box">
    {{this.text}}
    <a href="#" class="close">&times;</a>
</div>